In [1]:
import pandas as pd
import numpy as np
import evaluate
from imblearn.datasets import make_imbalance
from transformers import AutoTokenizer, AutoModelForSequenceClassification, pipeline, TrainingArguments, Trainer, BertModel
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import train_test_split
from datasets import Dataset,load_dataset, load_from_disk, DatasetDict
import mlflow, os
import openai
import json

c:\Users\ALEJANDRO RENDON\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = pd.read_excel(r"C:\Users\ALEJANDRO RENDON\Downloads\modelos\topic_data.xlsx")
data.drop_duplicates(subset=["text"], inplace = True)
data["label"].value_counts()

Post de interacci贸n      2139
Alcance                   126
Dudas                      55
Otros                      48
Reclutamiento              30
Cr铆tica                    29
Condiciones laborales      25
Oferta terceros            21
Menciones                  11
Noticias                   10
Felicitaciones              8
Pagos                       4
Name: label, dtype: int64

In [15]:
openai.api_key = "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"
result = []
def generate_text(column):
    maneras = round(100/column.count()-column.count())
    for x in column:
        prompt="Dame"+str(maneras)+" maneras diferentes de escribir "+x
        completion = openai.Completion.create(
            engine="text-davinci-003",
            prompt=prompt,
            max_tokens=3000,
            temperature=0.5,)
        result.append(completion['choices'][0]['text'].split("\n"))
    return result

In [4]:
pagos_sint1= generate_text(data["text"][data.label=='Pagos'])
pagos_sint2 = [item for sublist in pagos_sint1 for item in sublist if len(item)>3]
pagos_sint3 = []
for x in pagos_sint2:
    x=x[3:]
    pagos_sint3.append(x)

df_pagos=pd.DataFrame(pagos_sint3, columns=['text'])
df_pagos['label']='Pagos'

In [5]:
cl_sint1= generate_text(data["text"][data.label=='Condiciones laborales'])
cl_sint2 = [item for sublist in cl_sint1 for item in sublist if len(item)>3]
cl_sint3 = []
for x in cl_sint2:
    x=x[3:]
    cl_sint3.append(x)

df_cl=pd.DataFrame(cl_sint3, columns=['text'])
df_cl['label']='Condiciones laborales'

In [6]:
duda_sint1= generate_text(data["text"][data.label=='Dudas'])
duda_sint2 = [item for sublist in duda_sint1 for item in sublist if len(item)>3]
duda_sint3 = []
for x in duda_sint2:
    x=x[3:]
    duda_sint3.append(x)

df_duda=pd.DataFrame(duda_sint3, columns=['text'])
df_duda['label']='Dudas'

In [19]:
noticia_sint1= generate_text(data["text"][data.label=='Noticias'])
noticia_sint2 = [item for sublist in noticia_sint1 for item in sublist if len(item)>3]
noticia_sint3 = []
for x in noticia_sint2:
    x=x[3:]
    noticia_sint3.append(x)

df_noticia=pd.DataFrame(noticia_sint3, columns=['text'])
df_noticia['label']='Noticias'

In [10]:
menc_sint1= generate_text(data["text"][data.label=='Menciones'])
menc_sint2 = [item for sublist in menc_sint1 for item in sublist if len(item)>3]
menc_sint3 = []
for x in menc_sint2:
    x=x[3:]
    menc_sint3.append(x)

df_menc=pd.DataFrame(menc_sint3, columns=['text'])
df_menc['label']='Menciones'

In [11]:
otr_sint1= generate_text(data["text"][data.label=='Otros'])
otr_sint2 = [item for sublist in otr_sint1 for item in sublist if len(item)>3]
otr_sint3 = []
for x in otr_sint2:
    x=x[3:]
    otr_sint3.append(x)

df_otr=pd.DataFrame(otr_sint3, columns=['text'])
df_otr['label']='Otros'

In [12]:
felic_sint1= generate_text(data["text"][data.label=='Felicitaciones'])
felic_sint2 = [item for sublist in felic_sint1 for item in sublist if len(item)>3]
felic_sint3 = []
for x in felic_sint2:
    x=x[3:]
    felic_sint3.append(x)

df_felic=pd.DataFrame(felic_sint3, columns=['text'])
df_felic['label']='Felicitaciones'

In [16]:
ot_sint1= generate_text(data["text"][data.label=='Oferta terceros'])
ot_sint2 = [item for sublist in ot_sint1 for item in sublist if len(item)>3]
ot_sint3 = []
for x in ot_sint2:
    x=x[3:]
    ot_sint3.append(x)

df_ot=pd.DataFrame(ot_sint3, columns=['text'])
df_ot['label']='Oferta terceros'

In [17]:
crit_sint1= generate_text(data["text"][data.label=='Cr铆tica'])
crit_sint2 = [item for sublist in crit_sint1 for item in sublist if len(item)>3]
crit_sint3 = []
for x in crit_sint2:
    x=x[3:]
    crit_sint3.append(x)

df_crit=pd.DataFrame(crit_sint3, columns=['text'])
df_crit['label']='Cr铆tica'

In [18]:
recu_sint1= generate_text(data["text"][data.label=='Reclutamiento'])
recu_sint2 = [item for sublist in recu_sint1 for item in sublist if len(item)>3]
recu_sint3 = []
for x in recu_sint2:
    x=x[3:]
    recu_sint3.append(x)

df_recu=pd.DataFrame(recu_sint3, columns=['text'])
df_recu['label']='Reclutamiento'

In [23]:
df_final = pd.concat([df_pagos,df_cl,df_crit,df_duda,df_felic,df_menc,df_noticia,df_ot,df_otr,df_recu,data])
df_final

                                                   text                label
0      Estafadores - 隆P谩guenme mi liquidaci贸n completa!                Pagos
1     Estafadores: 隆P谩guenme mi liquidaci贸n completa...                Pagos
2       隆Estafadores, p谩guenme mi liquidaci贸n completa!                Pagos
3     隆Estafadores, devu茅lvanme mi liquidaci贸n compl...                Pagos
4     隆Devu茅lvanme mi liquidaci贸n completa, Estafado...                Pagos
...                                                 ...                  ...
2994                                                  Post de interacci贸n
2996                                          Asterisco  Post de interacci贸n
2997                                     Que mentira!!!  Post de interacci贸n
2998                                            えｐが仇  Post de interacci贸n
2999                        Me interesa ser parte de TP        Reclutamiento

[27022 rows x 2 columns]

In [24]:
df_final["label"].value_counts()

Otros                    5826
Felicitaciones           5815
Menciones                3570
Dudas                    3533
Post de interacci贸n      2139
Noticias                 1958
Reclutamiento            1902
Cr铆tica                  1089
Condiciones laborales     631
Oferta terceros           345
Alcance                   126
Pagos                      88
Name: label, dtype: int64

In [25]:
df_final.to_excel(r"C:\Users\ALEJANDRO RENDON\Downloads\modelos\new_topic_data.xlsx")